* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: bisque;
}

.polaroid {
  background-color: white;
  box-shadow: 5px 5px 5px lightgrey;
}

.picture {
  margin-top: 40px;
  margin-left: 40px;
  margin-right: 40px;
}

.title {
  font-size: 30px;
  font-family: "Parisienne", cursive;
  text-align: center;
}
